<!-- <div class="container"> -->

<!-- <button mat-raised-button routerLink="/" style="left: 23%; margin-top: 5%">
  חזרה לדף הבית
</button> -->
<mat-drawer-container class="example-container">
  <mat-drawer
    #drawer
    class="example-sidenav"
    mode="over"
    position="end"
    style="width: 80%; display: flex"
  >
    <i
      class="material-icons"
      (click)="showFiller = !showFiller"
      (click)="drawer.toggle()"
      style="margin-left: 92%"
      >close</i>
      <div class="header">
    <p style="display: flex; justify-content: center;">בחר קטגוריה</p>
    <p style="display: flex; justify-content: center; color: blue;" (click)="removefilter()">נקה סינון</p>
  </div>
    <hr>
    <mat-list>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-description>
                <mat-list-item>טיפולים מקצועיים</mat-list-item>
                <img src="../../../assets/haurcut.jpg" id="category">
              </mat-panel-description>
            </mat-expansion-panel-header>
        <mat-list>
              <div class="cont"> 
                <mat-divider></mat-divider>
                <br>
                <mat-list-item routerLink="/order">טיפול שיער</mat-list-item>
                <img src="../../../assets/hair-styling.png" alt="" id="category">
                </div>
               <hr>
               <div class="cont"> 
                <mat-divider></mat-divider>
                <br>
                <mat-list-item routerLink="/order">טיפול לייזר</mat-list-item>
                <img src="../../../assets/laser.png" alt="" id="category">
                </div>
               <hr>
          </mat-list>
          </mat-expansion-panel>
        </mat-accordion>      
        <mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-description>
        <mat-list-item (click)="filterme('תכשירים לשיער')">תכשירים לשיער</mat-list-item>
        <img src="../../../assets/shampoo.jpg" id="category">
      </mat-panel-description>
    </mat-expansion-panel-header>
<mat-list>
  <div class="cont">
    <mat-divider></mat-divider>
    <br>
    <mat-list-item (click)="filterme('מברשות')">מברשות</mat-list-item>
    <img src="../../../assets/hair-brush.png" alt="" id="category">
    </div>
    <hr>
    <div class="cont">
    <mat-divider></mat-divider>
    <br>
    <mat-list-item (click)="filterme('ווקס')">ווקס</mat-list-item>
    <img src="../../../assets/wax.png" alt="" id="category">
    </div>
    <hr>
    <div class="cont">
      <mat-divider></mat-divider>
      <br>
      <mat-list-item (click)="filterme('גל לשיער')">ג'ל לשיער</mat-list-item>
      <img src="../../../assets/cream.png" alt="" id="category">
      </div>
      <hr>
    <div class="cont">
      <mat-divider></mat-divider>
      <br>
      <mat-list-item (click)="filterme('שמפו')">שמפו</mat-list-item>
      <img src="../../../assets/shampoo.png" alt="" id="category">
      </div>
      <hr>
  </mat-list>
  </mat-expansion-panel>
</mat-accordion>      
      <mat-accordion>
<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-description>
      <mat-list-item (click)="filterme('מכשירי חשמל לשיער')">מכשירי חשמל לשיער</mat-list-item>
      <img src="../../../assets/electric.png" id="category">
    </mat-panel-description>
  </mat-expansion-panel-header>
<mat-list>
  <div class="cont">
    <mat-divider></mat-divider>
    <br>
    <mat-list-item (click)="filterme('מכונות גילוח')">מכונות גילוח</mat-list-item>
    <img src="../../../assets/machine.png" alt="" id="category">
    </div>
    <hr>
    <div class="cont">
      <mat-divider></mat-divider>
      <br>
      <mat-list-item (click)="filterme('מכונות תספורת')">מכונות תספורת</mat-list-item>
      <img src="../../../assets/electric-shaver.png" alt="" id="category">
      </div>
      <hr>
      <div class="cont">
        <mat-divider></mat-divider>
        <br>
        <mat-list-item (click)="filterme('מחליקי שיער')">מחליקי שיער</mat-list-item>
        <img src="../../../assets/hair-straightener.png" alt="" id="category">
        </div>
        <hr>
        <div class="cont">
          <mat-divider></mat-divider>
          <br>
          <mat-list-item (click)="filterme('פן לשיער')">פן לשיער</mat-list-item>
          <img src="../../../assets/hairdryer.png" alt="" id="category">
          </div>
          <hr>
  </mat-list>
  </mat-expansion-panel>
</mat-accordion>      
    <mat-accordion>
<mat-expansion-panel hideToggle>
<mat-expansion-panel-header>
  <mat-panel-description>
    <mat-list-item>עקוב אחרינו</mat-list-item>
    <img src="../../../assets/follow-us.png" id="category">
  </mat-panel-description>
</mat-expansion-panel-header>
<mat-list>
  <div class="cont">
        <img src="../../../assets/אינסטגרם.jpg" alt="" id="category" (click)="openLink('https://www.instagram.com/p/CRQo6hMHjfe/?img_index=1')"/>
    <img src="../../../assets/פייסבוק.jpg" alt="" id="category" (click)="openLink('https://www.facebook.com/moshe.heiev.3/?locale=he_IL')">
    <img src="../../../assets/טיקטוק.jpg" alt="" id="category" (click)="openLink('https://www.instagram.com/p/CRQo6hMHjfe/?img_index=1')">
  </div>
  </mat-list>
</mat-expansion-panel>
</mat-accordion>      
          <hr>
    </mat-list>

    <p *ngIf="showFiller"></p>
  </mat-drawer>
  <!-- <div class="example-sidenav-content" style="margin-left: 76%; width: 20px;">  -->

  <!-- </div> -->

  <div class="demo-section" style="position: relative">
    <button
      (click)="drawer.toggle()"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      style="left: 77%;
      margin-right: -22%;
      top: 3px;"
    >
      <mat-icon>menu</mat-icon>
    </button>
   
    <span
      [matBadge]="badge"
      style="margin-left: 14%; position: absolute; margin-top: 7%; z-index: 1"
    ></span>
    <span
      [matBadge]="lovebadge"
      style="margin-left: 26%; position: absolute; margin-top: 7%; z-index: 1"
    ></span>
    <img
      src="../../../assets/shopping-bag.png"
      alt=""
      routerLink="/products-payment"
      [matBadge]="badge"
      matBadgeColor="warn"
      style="margin-left: 8%;
      width: 21px;
      margin-top: 1%;"

    />
    <img (click)="displayloved()" *ngIf="!displaylove"
      src="../../../assets/heart.png"
      style="margin-left: 5%; width: 21px;
      margin-top: 1%"
      [matTooltip]="!nolove ? 'הצג מוצרים אהובים' : 'אין מוצרים אהובים להצגה'"/>
    <img (click)="displayloved()" *ngIf="displaylove"
      src="../../../assets/redheart.jpg"
      style="margin-left: 3%;
      width: 34px;
      margin-top: 2%;"
    />
    <!-- <p *ngIf="nolove" style="margin-left: 27%;">אין עדיין מוצרים אהובים להצגה</p> -->

    <!-- <button
      id="search"
      style="
        background: inherit;
        border: aliceblue;
        top: 28%;
        left: 20%;
        position: absolute;
      "
    >
      <span
        class="material-symbols-outlined"
        style="
          font-size: 28px;
          font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 48;
        "
      >
        search
      </span>
    </button> -->
    <img id="logo" src="../../../assets/לוגו_ניסן_מוזס__2___1_-removebg-preview.png" routerLink="/main">
  </div>
  <br />
  <div class="cards">
    <app-product-card
      *ngFor="let p of products; let i = index"
      [product]="p"
      [isclient]="true"
    >
    </app-product-card>
  </div>
</mat-drawer-container>

<br />
<button
  id="btn"
  mat-raised-button
  routerLink="/products-payment"
  style="margin-top: 10%; left: 30%"
>
  לתשלום
</button>
<!-- </div> -->
