<div class="container">
<img width="320" margin-top="-10% max-height: 150px;"
 src="../../../assets/לוגו_ניסן_מוזס__2___1_-removebg-preview.png" alt="">
<br>
  <carousel class="carousel
  " [isAnimated]="true" [showIndicators]="true">
    <slide *ngFor="let image of products">

      <img [src]="image.image" alt="Slide" id="img">
      <div class="carousel-caption">
        <!-- <h3>{{ image.title }}</h3>
        <p>{{ image.description }}</p> -->
    </div>
    </slide>
  </carousel>
<div class="btn">
<button mat-raised-button routerLink="/home">לאתר בריאות השיער</button>
<button mat-raised-button routerLink="/products">לקניית מוצרים</button>
</div>
<br>
<div class="logos">
<img src="../../../assets/loreal-lotion-cosmetics-biotherm-l-oreal-sale-warehouse-loreal.jpg" alt="">
<img src="../../../assets/unnamed.jpg" alt="">
<img src="../../../assets/הורדה1.jpg" alt="">
<img src="../../../assets/הורדה2.jpg" alt="">
<img src="../../../assets/6הורדה.jpg" alt="">
<img src="../../../assets/הורדה4.jpg" alt="">
<img src="../../../assets/הורדה3.jpg" alt="">
<img src="../../../assets/הורדה5.jpg" alt="">
<img src="../../../assets/7הורדה.jpg" alt="">
<img src="../../../assets/הורדה8.jpg" alt="">
<img src="../../../assets/הורדה.jpg" alt="">
<img src="../../../assets/שוורצקופף.jpg" alt="">
<img src="../../../assets/9הורדה .jpg" alt="">
<img src="../../../assets/הורדה10.jpg" alt="">
<img src="../../../assets/11הורדה.jpg" alt="">
<img src="../../../assets/12הורדה.jpg" alt="">
</div>
</div>

<h2>צור קשר</h2>
<div class="contact">
  <img src="../../../assets/אינסטגרם.jpg" alt="" id="category">
<img src="../../../assets/פייסבוק.jpg" alt="" id="category">
<img src="../../../assets/טיקטוק.jpg" alt="" id="category">
</div>
