<form>
  <div mat-dialog-content style="overflow: hidden; margin-left: 15%">
    <p style="margin-left: 26%">הוסף מוצר</p>
    <mat-form-field appearance="fill">
      <mat-label>שם המוצר</mat-label>
      <input matInput name="name" [(ngModel)]="product.name" required />
    </mat-form-field>
    <br />
    <mat-form-field appearance="fill">
      <mat-label>מחיר</mat-label>
      <input
        type="number"
        matInput
        name="price"
        [(ngModel)]="product.price"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>קטגוריה</mat-label>
      <mat-select [(ngModel)]="product.category">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{ category }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <mat-form-field>
      <mat-label>מותג</mat-label>
      <mat-select [(ngModel)]="product.brand">
        <mat-option *ngFor="let brand of brands" [value]="brand">
          {{ brand }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    <br />
    <label for="image">תמונה</label>
    <input
      type="file"
      id="image"
      name="image"
      accept="image/*"
      required
      (change)="saveImage($event)"
    />
  </div>
  <div mat-dialog-actions>
    <br />
    <button
      mat-raised-button
      [mat-dialog-close]
      cdkFocusInitial
      [disabled]=""
      (click)="add()"
      style="margin-left: 37%"
    >
      !אישור
    </button>
  </div>
</form>
