<mat-card class="example-card">
      <mat-card-header>
        <!-- <mat-card-title>{{ product.name }}</mat-card-title> -->
        <span class="material-icons" style="margin-left: 43px" *ngIf="isadmin"> edit </span>
        <button mat-raised-button *ngIf="isadmin" (click)="deleteProduct(product.id)">מחיקה</button>
        <!-- <mat-card-subtitle>{{
          product.price | currency: "ILS"
        }}</mat-card-subtitle> -->
      </mat-card-header>
      <!-- <div (click)="enlargeImage($event)"> -->
      <img [src]="product.image" />
    <!-- </div> -->
     
          <!-- <button 
            mat-icon-button
            color="primary"
            
          >
            <mat-icon>add_shopping_cart</mat-icon>
          </button> -->
          <!-- <div> -->
            <div *ngIf="isclient" class="buttons">
            <span *ngIf="isClicked" class="material-symbols-outlined clicked" (click)="handleClick(product)" style="font-variation-settings: 'FILL' 1, 'wght' 200, 'GRAD' 0, 'opsz' 48;">
              favorite
            </span>
            <span *ngIf="!isClicked" class="material-symbols-outlined"  (click)="handleClick(product)" style="font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 48;">
              favorite
            </span>
            <img *ngIf="!isBagClicked" (click)="handleClick1(product)" src="../../../assets/shopping-bag.png" alt="" style="margin-left: 33%;
            width: 12%;
            margin-top: -16%;">
            <img *ngIf="isBagClicked" (click)="handleClick1(product)" src="../../../assets/shopping.png" alt="" style="margin-left: 33%;
            width: 12%;
            margin-top: -16%;">
          </div> 
          
          
          <!-- <button
            mat-icon-button
            color="blue"
            (click)="plus()"
            style="margin-left: 18px"
            id="btn"
          >
            <span class="material-icons"> add </span>
          </button> -->
          <!-- <input id="input"
            type="number"
            [(ngModel)]="count"
            min="1"
            style="margin-left: 5px"
          />
          <button
            mat-icon-button
            color="blue"
            (click)="minus()"
            id="btn"
            style="margin-left: 7px"
          >
            <span class="material-icons"> remove </span>
          </button> -->
        
    <!-- </a> -->
  </mat-card>
