.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust the height as needed */
  }
  
  .mat-form-field {
    margin-bottom: 20px; /* Adjust the margin as needed */
  }
  
  .google-pay-button {
    display: flex;
    justify-content: center;
  }
  
