@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* @import "~@coreui/coreui-pro/scss/coreui"; */
@import 'bootstrap/dist/css/bootstrap.min.css';

html, body {
  margin: 0;
  /* background-color: #f9f4e7; */

}

@media only screen and (min-width: 380px) {
  /* Set the minimum width to trigger the desktop styles */
  body {
    width: 380px;
    height: 800px;
    /* position: absolute; */
    margin: auto;
    /* transform: translate(-50%, -50%);  */
   }
}
/* body { */
  /* background: linear-gradient(270deg, #e94bcc 12.02%, #FAEEBD 50.31%, #b23bd0 86.6%); */
/* } */

@media (max-width: 767px) {
  body {
  }
}
/* button{background-color: #db9bde;} */
/* button{background-color: #db9bde;} */
/* .mat-mdc-raised-button{ */
  /* background-color: #db9bde} */
